# Dependencies from Salt.Box Team server.
# - Prefer tag or commit hash over branch to specify version.
# - Prefer long hash over short hash for pip efficiency.

saltbox-sdk @ git+https://dev.saltbox.pro/saltbox/saltbox-sdk/@0257ab770c402275a4095211cf39fea34837e383

# vi: ft=requirements
