# Dependencies from Salt.Box Team server.
# - Prefer tag or commit hash over branch to specify version.
# - Prefer long hash over short hash for pip efficiency.

saltbox-sdk @ git+https://dev.saltbox.pro/saltbox/saltbox-sdk/@ba1cef005119aa0a90c648d72f199e1922c2da26

# vi: ft=requirements
