# Dependencies from Salt.Box Team server.
# - Prefer tag or commit hash over branch to specify version.
# - Prefer long hash over short hash for pip efficiency.

saltbox-sdk @ git+https://dev.saltbox.pro/saltbox/saltbox-sdk/@9d81d1ae83c126d0e9065dd5df994e0390af0c5e

# vi: ft=requirements
